#voicecode
voicecode-bbs/
voicecode/

# Node.js
node_modules/

# SPA frontend
frontend/.env.development.local
frontend/.env.production.local
frontend/dist/
frontend/tsconfig.app.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
